.message-box {
    position: fixed;
    /* width:20%; */
    height:5%;
    top: 10px;
    font-size:22px;
    font-weight:bolder;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2B0F0F; /* Light red background for error messages */
    color: white; /* Dark red text color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000; /* Make sure it's on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  