html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000;
  }
  

  
  .fpo-main-cont{
    display:flex;
    width: 100vw;
   height:100vh;
   /* border:2px solid orange; */
   align-items:top;
  }

  .reset-password-container {
    width: 50%;
    height:40%;
    padding: 40px;
    background: #333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top:2%;
    margin-left:8%;
  }

  input{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    color:white;
    outline:none;
    box-sizing: border-box;
    background:rgb(43, 39, 40);
  }

  input:focus{
    border: 2px solid rgb(234, 67, 89);
    outline: none; 
    border-radius: 4px;
  }

  .logo-info{
    display:block;
    height:40%;
    padding-left:4%;
    /* width:100%; */
    /* border:2px solid red; */
  }

  .outer-most{
    width:100vw;
    height:100vh;
    /* border:2px solid white; */
    display:flex;
    flex-direction:column;
  }

  .box2{
    width:25%;
    /* border:2px solid white; */
    height:100%;
  }

  #babyrobo{
    border:none;
    /* border:2px solid white; */
  }

  .box1{
    width:25%;
    /* border:2px solid red; */
    height:100%;
    position:relative;
  }

  .enter-password-temp{
    position:absolute;
    right:0;
    bottom:0;
    width:50%;
    /* border:2px solid orange; */
    height:9%;
    background:black;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight:bolder;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #aaa;
  }
  
  .reset-password-outer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    /* border: #f44444 solid 10px; */
  }

  .reset-password-form {
    /* border: 10px solid green; */
    width: 100%;
    gap: 20px;
    align-items:center;
  }
  
  .reset-password-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background:rgb(43, 39, 40);
  }
  
  .forgot-password-form input::placeholder {
    color: #aaa;
  }
  
  .submit-btn {
    padding: 12px;
    background-color: #f44444;
    color: white;
    border: none;
    width: 40%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .submit-btn:hover {
    background-color: rgb(140, 31, 57);
  }

  .success-message{
    color: green;
  }

  .error-message{
    color: red;
  }
  
  
  .password-field input {
    width: 100%;
    padding-right: 50px;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    color: rgb(234, 67, 89);
  }